[Unit]
Description=Grafana
Wants=network-online.target
After=network-online.target
[Service]
User=grafana
Group=grafana
WorkingDirectory=/opt/grafana
Type=simple
ExecStart=/opt/grafana/bin/grafana server
[Install]
WantedBy=multi-user.target